html[data-theme="dark"] {
  --font-color: #fff;
  --link-color: #fff;
  --scrollbar-color: #d8d6f7;
  --body-bg: #111;
  --red: #d8d6f7;
  --orange: #d8d6f7;
  --orange-yellow: #d8d6f7;
  --yellow: #d8d6f7;
  --yellow-green: #d8d6f7;
  --green: #d8d6f7;
  --green-blue: #d8d6f7;
  --blue: #d8d6f7;
  --blue-purple: #d8d6f7;
  --purple: #d8d6f7;
  --darker-purple: #d8d6f7;
}
