html[data-theme="light"] {
  --font-color: #404040;
  --link-color: #092FB4;
  --body-bg: #bac5ee;
  --btn-filter: invert(13%) sepia(86%) saturate(3073%) hue-rotate(226deg) brightness(102%) contrast(112%);
}
