@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

:root {
  --color-bg: peachpuff;
  --color-text-main: #000000;
  --color-primary: #AFECE0;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
  font-size: calc(0.75em + 0.5vh);
  line-height: 1.3;
  letter-spacing: 0.5px;
}
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
  min-height: 86vh;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .content {
    flex-direction: row;
    width: 95vw;
  }
  #box-wrapper {
    position: fixed;
    top: 0.25rem;
  }
  .page {
    padding-top: 7%;
    width: 40vw;
    position: absolute;
    left: 50vw;
    top: 0;
  }
}

/* Page titles */
h1 {
  color: #EF40B0;
  font-family: "Ubuntu Mono";
  font-weight: bold;
  text-transform: lowercase;
  font-size: 1.5em;
}
h2 {
  color: #EF40B0;
  font-family: "Ubuntu Mono";
  text-transform: lowercase;
}
/* river */
#box {
  min-width: 750px;
  min-height: 750px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  margin: 2.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: url("https://cdn.glitch.com/d7f5d655-bedb-46ba-b8a6-d3a4253e0b8b%2Fbackground.jpeg?v=1631378265800");
}

.river,
div.project::before {
  background: radial-gradient(
        1.5em 6.28571em at 1.95em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
          1.5em 6.28571em at -0.45em,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0.25) 50%,
          rgba(255, 255, 255, 0.25) 55%,
          rgba(255, 255, 255, 0) 55%
        )
        1.5em 5.5em,
      radial-gradient(
            2.3em 4.57143em at 2.99em,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0.3) 50%,
            rgba(255, 255, 255, 0.3) 55%,
            rgba(255, 255, 255, 0) 55%
          )
          0 0,
        radial-gradient(
              2.3em 4.57143em at -0.69em,
              rgba(255, 255, 255, 0) 50%,
              rgba(255, 255, 255, 0.3) 50%,
              rgba(255, 255, 255, 0.3) 55%,
              rgba(255, 255, 255, 0) 55%
            )
            2.3em 4em,
          radial-gradient(
                3.5em 6.28571em at 4.55em,
                rgba(255, 255, 255, 0) 50%,
                rgba(255, 255, 255, 0.25) 50%,
                rgba(255, 255, 255, 0.25) 55%,
                rgba(255, 255, 255, 0) 55%
              )
              0 0,
            radial-gradient(
                  3.5em 6.28571em at -1.05em,
                  rgba(255, 255, 255, 0) 50%,
                  rgba(255, 255, 255, 0.25) 50%,
                  rgba(255, 255, 255, 0.25) 55%,
                  rgba(255, 255, 255, 0) 55%
                )
                3.5em 5.5em,
              radial-gradient(#15ffa5, #00ced1);
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em,
    3.5em 11em, 100% 100%;
  background-repeat: repeat;
  position: absolute;
  opacity: 0.75;
}
.river--1 {
  width: 5%;
  left: 25%;
  top: 35%;
  height: 15%;
  transform: rotate(-52deg);
  -webkit-animation: flow 5s infinite linear;
  animation: flow 5s infinite linear;
}
.river--2 {
  width: 7.5%;
  left: 25%;
  top: 50%;
  height: 80%;
  transform: rotate(-80deg);
  -webkit-animation: flow 5s infinite linear;
  animation: flow 5s infinite linear;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
@-webkit-keyframes flow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 750px;
  }
}
@keyframes flow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 750px;
  }
}

*::-webkit-scrollbar {
  width: 12px;
  -webkit-appearance: none;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #EF40B0;
  border-radius: 20px;
  border: 3px solid #EF40B0;
}

.river,
div.project::before {
  filter: url(#turbulence);
}

div.project::before {
  opacity: 0.35;
}

.project {
  position: relative;
  padding: 3rem;
  margin-bottom: 3rem;
}
.project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.project img {
  width: 40%;
  float: left;
  margin: 1.5rem;
}
.screenshot--portrait {
  width: 50%;
  margin: 0 auto;
}
.screenshot--landscape {
  width: 100%;
  margin: 1rem auto;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #EF40B0;
  text-decoration: underline;
  font-weight: bold;
  font-family: "Ubuntu Mono";
}
a[target="_blank"]::after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAUCAYAAABSx2cSAAAAAXNSR0IArs4c6QAAAIRJREFUOE9jZMAB3jts+I8sJXgggBFdKSM+Re8d1icwMDDOB2nCqRmbBELj/0SQAURrRtYoeCBwAch1RGlG14grTEDiYD/DTH3vsF6BgYHxPgPD/0SQjfg0YmgGCYAMEDwQ+ACmEZeTsWpGt422mgn5DVtIg51NSCPe0B7VTFoIjMTQBgBaplgVz4gtywAAAABJRU5ErkJggg==");
}
