@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

#theme-toggle {
  visibility: hidden;
}

#theme-toggle + label {
  position: absolute;
  top: 3rem;
  right: 3rem;
  content: "";
  display: inline-block;
  cursor: pointer;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  z-index: 5
}

#theme-toggle:not(:checked) + label {
  background: #fffc00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fffc00, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fffc00, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#theme-toggle:checked + label {
  background-color: transparent;
  box-shadow: inset -18px -16px 1px 1px #fff;
}
/* Page structure */
#box {
  width: 40vh !important;
  height: 40vh !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  position: absolute;
  z-index: 1;
  overflow: hidden;
  border-radius: 50%;
  background: var(--bg-img);
  background-size: 100% 100%;
  width: 75vw;
  height: 75vw;
  background-size: 100% 100%;
  width: 75vw;
  height: 75vw;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--font-color)
}
h1.title a {  
  font-family: Shrikhand !important;
  color: var(--title);
  font-size: calc(1em + 0.5vw);
  margin: 3rem;
  letter-spacing: 1px;
  z-index: 10;
  position: relative
}
h2 {
  font-size: 1.5em !important;
  color: var(--title);
}
body {
  font-family: "Signika Negative" !important;
  background-color: var(--body-color)!important;
  letter-spacing: 0.5px;
  color: var(--font-color)!important;
  overflow-x: hidden;
}
section.main {
  background-color: var(--main-bg);
  min-height: 65vh;
  padding: 25vh 3rem 20vh 3rem;
  position: relative;
  top: 15vh;
}

div.nav-bar li {
  display: inline-block;
  margin: 0.5rem;
}
.nav-bar {
  background-color: var(--nav-bg); 
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  list-style-type: none;
  z-index: 6;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--font-color)
}
.nav-bar a {
  font-size: calc(1em + .25vh);
}
.hey { 
  font-size: 1.75em;
}

@media (min-width: 481px) and (orientation: landscape) {
  body {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  #box-wrapper {
    position: fixed;
    top: 10%;
    left: 12vw;
    z-index: 10
  }
  #box {
    width: 40vw !important;
    height: 40vw !important;
    left: 0;
    top: 0;
    transform: none
  }
/* river */

  section.main {
    width: 68vw;
    position: absolute;
    min-height: 100vh;
    left: 32vw;
    top: 0;
    padding: 0 0 6rem 0
  }
  .hey {
    padding-top: 20%;
  }
  .page {
    left: 40%;
    position: relative;
    width: 30vw;
  }
  .nav-bar {
    position: static;
    border-top: none;
    background: transparent;
    margin: 3rem auto;
    width: 100%;
  }
  .nav-bar a {
    font-family: Lilita One;
    letter-spacing: 1px;
    margin-left: 3rem;
    font-size: calc(1em + .75vh);
  }
  h1.title {
    position: fixed;
  }
}

.river {
  background: var(--river-bg);
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em,
    3.5em 11em, 100% 100%;
  background-repeat: repeat;
  filter: url(#turbulence);
  position: absolute;
}
.river-box {
  margin-bottom: 2rem;
}
.river--1 {
  width: 43%;
  left: 12%;
  top: var(--river-top);
  height: var(--river-height);
  transform: rotate(-88deg);
  -webkit-animation: flow 10s infinite linear;
  animation: flow 10s infinite linear;
  opacity: var(--river-opacity)
}
@-webkit-keyframes flow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 750px;
  }
}
@keyframes flow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 750px;
  }
}

*::-webkit-scrollbar {
  width: 12px;
  -webkit-appearance: none;
}

*::-webkit-scrollbar-track {
  background: var(--main-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--title) ;
  border-radius: 20px;
  border: 3px solid var(--title) ;
}

.river-box img.project {
  width: 35%;
  float: left;
  margin-right: 2rem;
}
.screenshot--portrait {
  width: 50%;
  margin: 0 auto;
}
.screenshot--landscape {
  width: 100%;
  margin: 1rem auto;
}
a:link,
a:visited,
a:hover,
a:active {
  color: var(--link) !important;
  text-decoration: none;
  font-family: "Lilita One";
}
a[target="_blank"]::after {
  content: var(--blank);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: var(--arrows)
}

.hey span {
  display: inline-grid;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid green; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 1.75s steps(20, end),
    blink-caret .75s step-end infinite;
  font-family: 'Ubuntu Mono';
  color: green;
  font-weight: bold
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: green; }
}
