@import url("https://fonts.googleapis.com/css2?family=Karla&family=Spectral");

/* General rules */
* {
  box-sizing: border-box;
}
html, body {
  font-family: Karla !important;
  background: var(--body-bg) !important;
  color: var(--font-color) !important;
}
h1, h2, h2 a {
  letter-spacing: 0.5px !important
}
p {
  font-family: Spectral;
  font-size: 1.2em
}
h1, h1 a {
  font-family: Spectral;
  font-size: calc(2.375rem + 1.5vw) !important;
  font-weight: normal !important;
  color: var(--link-color) !important;
}
p.intro {
  font-size: calc(1em + 0.5vw);
}
[hidden] {
  display: none !important;
}
ol, ul {
  padding-left: 0 !important;
}
img {
  margin: 2.5em
}
h2 {
  font-family: Karla !important;
  font-weight: bold !important;
  font-size: 1.5em !important;
  transform: skew(
    -10deg);
}
/* Links */
a {
  color: var(--link-color) !important;
  text-decoration: none !important;
  font-family: Karla !important;
  font-weight: bold;
}
a:hover {
  text-decoration: none
}
/* Dark mode toggle */
div.dark-mode-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}
#theme-toggle {
  visibility: hidden;
}
#theme-toggle + label {
  content: "";
  display: inline-block;
  cursor: pointer;
  height: 80px;
  width: 80px;
  margin: 2em;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  z-index: 999
}
#theme-toggle:not(:checked) + label {
  background: #fffc00;
}
#theme-toggle:checked + label {
  background-color: transparent;
  box-shadow: inset -18px -16px 1px 1px #fff;
}
nav {
  display: flex;
  flex-direction: row;
}

span.pipe {
    color: #e81cda;
    transform: rotate(-25deg) !important;
    display: inline-block;
    font-weight: bold
}
img.me {
  width: 50%;
  margin: 0 auto 2em auto;
  display: block;
}
@media (orientation: landscape) {
  img.me {
    width: 15%;
  }
}
h2 a {
  color: var(--link-color) !important;
  font-weight: bold !important;
  margin-bottom: 2rem
}
div.home {
  text-align: center
}
div.page {
  width: 95%;
  margin: auto
}
.box {
  margin: 2rem 0
}
.box h2 {
  font-weight: normal !important
}
h2 span.projects a {
  color:#fa5a16 !important
}
h2 span.publications a {
  color: #19b099 !important;
}
h2 span.writing a {
  color: #7b65e8 !important;
}
