/* General rules */

@font-face {
  font-family: "Circular";
  src: url("/fonts/CircularStd-Book.otf");
}

body {
  background: linear-gradient(to bottom, var(--body-bg) 5%, #f3cff3);
}
p {
  transform: translateY(-50%) translateX(-50%);;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: auto;
  width: fit-content;
  font-family: Circular;
}
a {
  font-family: Circular;
  color: #000;
  text-decoration: none
}
