/* General rules */

p {
  transform: translateY(-50%) translateX(-50%);;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: auto;
  width: fit-content;
  font-family: Circular;
}
a {
  font-family: Circular;
  color: #f3cff3;
  text-decoration: none
}
